<h1>Add New Form of Payment</h1>

<p>Do not provide real credit card or bank account details into these forms. Instead use <a href="https://docs.balancedpayments.com/current/overview.html#test-credit-card-numbers" class="alert-link" target="_blank">test cards</a></p>

<%= render 'form' %>

<%= link_to 'Back', payments_path %>
