// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#homepage_jumbotron {
	height: 500px;
  background-image:url("http://i.imgur.com/0LAhb8J.jpg?1");
  color: white;
  bottom: 0px;
}