        <% if user_signed_in? %>
        <div class="col-xs-6 col-sm-3 sidebar" id="sidebar" role="navigation">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="/payments/new">Add Form of Payment</a></li>
              <li><a href="/">Link 2</a></li>
              <li><a href="#">Link 3</a></li>              
            </ul>
        </div>
        <% end %>